{% extends 'main/nick/base.html' %}
{% load static %}


{% block content %}
<!-- 1 box 3 колонки -->
<div class="container-fluid px-3">
    <div class="row">

        <!-- Первая колонка с вертикальным меню -->
        {% include 'main/nick/vertical_menu_one.html' %}

        <!-- Вторая колонка со слайдером -->
        {% include 'sliders/main_slider.html' %}

        <!-- Третья колонка Блог Слайдер -->
        {% include 'sliders/blog_slider.html' %}

    </div>
</div>
<!-- END 1 box 3 колонки -->

<!-- 2 box 2 колонки -->
<div class="container-fluid p-3">

    <div class="row">

        <!-- Первая колонка с вертикальным меню -->
        {% include 'main/nick/sticky_sidebar.html' %}
        <!-- END Первая колонка с вертикальным меню -->

        <!-- Вторая колонка -->
        {% include 'main/nick/second_column.html' %}
        <!-- end Вторая колонка -->

    </div>
</div>
<!-- END 2 box 2 колонки -->


<!-- OFFCANVAS -->
<div class="offcanvas-container">

    <!-- SIDE MENU -->
    {% include 'main/nick/side_menu.html' %}
    <!-- END SIDE MENU -->

    <!-- Оверлей -->
    <div id="overlay" class="overlay"></div>

    <!-- Боковое меню корзины -->
    {% include 'main/nick/sidebar_menu_cart.html' %}
    <!-- END Боковое меню корзины -->

<!-- Оверлей для корзины -->
<div id="cartOverlay" class="overlay"></div>

</div>
<!-- END OFFCANVAS -->

<!-- mobile bottom bar -->
{% include 'main/nick/elements/mobile_buttom_bar.html' %}
<!-- END mobile bottom bar -->


{% endblock %}
