<!doctype html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Banner Slider</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/icon/logo.svg">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

    <!-- Bootstrap & Custom CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Custom JS -->
    <script src="assets/js/banner-slider.js" defer></script>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>

<body>


<div class="container-fluid p-3">
    <div class="row">
        <!-- Первая колонка с вертикальным меню -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 d-none d-lg-none d-xl-block"></div>

        <!-- Вторая колонка со слайдерами -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-10"> 

            <!-- BANNER SLIDER -->
            <div class="swiper banner-slider"> 
                <div class="swiper-wrapper py-3">

                    <div class="swiper-slide banner-block" style="background-image: url('img/banner/Rectangle 1.png');">
                        <div class="banner-content">
                            <h3>Clothing and Footwear from India</h3>
                            <div class="banner-list">
                                <a href="#" class="b-list-item">Women's</a>
                                <a href="#" class="b-list-item">Men's</a>
                                <a href="#" class="b-list-item">Children's</a>
                                <a href="#" class="b-list-item">Unisex</a>
                                <a href="#" class="b-list-item">Footwear</a>
                                <a href="#" class="b-list-item">Accessories</a>
                                <a href="#" class="b-list-item">👀 View all</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide banner-block" style="background-image: url('img/banner/Rectangle 2.png');">
                        <div class="banner-content">
                            <h3>Bags & Purses</h3>
                            <div class="banner-list">
                                <a href="#" class="b-list-item">Purses</a>
                                <a href="#" class="b-list-item">Bags</a>
                                <a href="#" class="b-list-item">Hemp Bags</a>
                                <a href="#" class="b-list-item">👀 View all</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide banner-block" style="background-image: url('img/banner/Rectangle 3.png');">
                        <div class="banner-content">
                            <h3>Books and CDs</h3>
                            <div class="banner-list">
                                <a href="#" class="b-list-item">DVD</a>
                                <a href="#" class="b-list-item">Books</a>
                                <a href="#" class="b-list-item">Music</a>
                                <a href="#" class="b-list-item">Flash media</a>
                                <a href="#" class="b-list-item">Photo</a>
                                <a href="#" class="b-list-item">👀 View all</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide banner-block" style="background-image: url('img/banner/Rectangle 4.png');">
                        <div class="banner-content">
                            <h3>Souvenirs</h3>
                            <div class="banner-list">
                                <a href="#" class="b-list-item">Keychains</a>
                                <a href="#" class="b-list-item">Paintings</a>
                                <a href="#" class="b-list-item">Magnets</a>
                                <a href="#" class="b-list-item">Rudraksha</a>
                                <a href="#" class="b-list-item">Statuettes</a>
                                <a href="#" class="b-list-item">Flags</a>
                                <a href="#" class="b-list-item">👀 View all</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide banner-block" style="background-image: url('img/banner/Rectangle 5.png');">
                        <div class="banner-content">
                            <h3>Electronics</h3>
                            <div class="banner-list">
                                <a href="#" class="b-list-item">Mobile devices</a>
                                <a href="#" class="b-list-item">Household Apps</a>
                                <a href="#" class="b-list-item">Audio & video</a>
                                <a href="#" class="b-list-item">Computers</a>
                                <a href="#" class="b-list-item">Tools</a>
                                <a href="#" class="b-list-item">👀 View all</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

</div>
</div>




</body>


