{% load static %}

<!-- Banner Start -->
<div class="upper-banner banner pb-30">
    <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="slider single-banner-index-two zoom">
                    <a href="#">
                            <img src="{% static 'site_app/img/banner/rama-slider-1-min.jpg' %}" alt="slider-banner"
                                 class="slide active">
                            <img src="{% static 'site_app/img/slider/rama-slider-3-min.jpg' %}" alt="slider-banner"
                                 class="slide">
                            <img src="{% static 'site_app/img/banner/rama-slider-1-min.jpg' %}" alt="slider-banner"
                                 class="slide">
                        <img src="{% static 'site_app/img/banner/rama-slider-1-min.jpg' %}" alt="slider-banner">
                        <div class="overlay">
                            <div class="overlay-text">
                                <h4>Clothing and Footwear from India</h4>
                                <div class="categories-row">
                                    <span><a href="{% url 'category' 'accessories' %}">Accessories</a></span><br>
                                    <span><a href="{% url 'category' 'for-children' %}">For Children</a></span>
                                    <span><a href="{% url 'category' 'for-men' %}">For Men</a></span>
                                    <span><a href="{% url 'category' 'shoes' %}">Shoes</a></span>
                                    <span><a href="{% url 'category' 'fabrics' %}">Fabrics</a></span>
                                    <span><a href="{% url 'category' 't-shirts' %}">T-shirts</a></span>
                                </div>
                                <div class="categories-column">
                                    <span><a href="{% url 'category' 'underwear' %}">Underwear</a></span>
                                    <span><a href="{% url 'category' 'unisex-clothing' %}">Unisex Clothing</a></span>
                                    <span><a href="{% url 'category' 'women' %}">Women</a></span>
                                </div>
                            </div>
                            <div class="slider-controls">
                                <button class="slider-control active"></button>
                                <button class="slider-control"></button>
                                <button class="slider-control"></button>
                            </div>
                            <button class="green-button">By Now</button>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner-index-two zoom">
                    <a href="#">
                        <img src="{% static 'site_app/img/slider/rama-slider-3-min.jpg' %}" alt="slider-banner">
                        <div class="overlay">
                            <div class="overlay-text">
                                <h4>Clothing and Footwear from India</h4>
                            </div>
                            <div class="slider-controls">
                                <button class="slider-control active"></button>
                                <button class="slider-control"></button>
                                <button class="slider-control"></button>
                            </div>
                            <button class="green-button">By Now</button>
                            <button class="yellow-button">Read More</button>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Banner End -->


<!-- Banner Start -->
<div class="upper-banner banner pb-30">
    <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner-index-two zoom">
                    <a href="#">
                        <img src="{% static 'site_app/img/banner/rama-slider-1-min.jpg' %}" alt="slider-banner">
                        <div class="overlay">
                            <div class="overlay-text">
                                <h4>Clothing and Footwear from India</h4>
                            </div>
                            <div class="slider-controls">
                                <button class="slider-control active"></button>
                                <button class="slider-control"></button>
                                <button class="slider-control"></button>
                            </div>
                            <button class="green-button">By Now</button>
                            <button class="yellow-button">Read More</button>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner-index-two zoom">
                    <a href="#">
                        <img src="{% static 'site_app/img/slider/rama-slider-3-min.jpg' %}" alt="slider-banner">
                        <div class="overlay">
                            <div class="overlay-text">
                                <h4>Clothing and Footwear from India</h4>
                            </div>
                            <div class="slider-controls">
                                <button class="slider-control active"></button>
                                <button class="slider-control"></button>
                                <button class="slider-control"></button>
                            </div>
                            <button class="green-button">By Now</button>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Banner End -->
