{% load static %}


{% block content %}
    <!-- Третья колонка Блог Слайдер -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

        <!-- BLOG SLIDER -->
        <div class="blog-slider">
            <div class="blog-slider-container">
                <div class="blog-slider-wrapper">
                    <!-- Слайд 1 -->
                    <div class="blog-slider-item">
                        <div class="blog-grid ">
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/Panjim.jpg' %}" class="blog-img">
                                <div class="blog-content">
                                    <h5>Panaji is the capital of Goa</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/Entertainment-in-Arambol.jpg' %}"
                                     class="blog-img">
                                <div class="blog-content">
                                    <h5>Entertainment in Arambol. What to do and where to go?</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/indian-republic-day-celebration-digital-art.jpg' %}"
                                     class="blog-img">
                                <div class="blog-content">
                                    <h5>India’s Republic Day: history and traditions of celebration</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/flowers-garden.jpg' %}" class="blog-img">
                                <div class="blog-content">
                                    <h5>Best-selling Indian cosmetics in 2024</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Слайд 2 -->
                    <div class="blog-slider-item">
                        <div class="blog-grid">
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/Panjim.jpg' %}" class="blog-img">
                                <div class="blog-content">
                                    <h5>Portuguese India, Goa independence struggle</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/photo_2020-02-27_13-34-14-1170x650.jpg' %}"
                                     class="blog-img">
                                <div class="blog-content">
                                    <h5>Arambol 2025: Market, Hippies and Goa’s Best Beaches</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/indian-travel.jpg' %}" class="blog-img">
                                <div class="blog-content">
                                    <h5>Mining in India</h5>
                                </div>
                            </div>
                            <div class="blog-card justify-content-end">
                                <img src="{% static 'site_app/img/blog/young-man-holding-plastic-bag-boutique_23-2148175641.jpg' %}"
                                     class="blog-img">
                                <div class="blog-content">
                                    <h5>Entertainment in Arambol</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="blog-slider-control-prev" aria-label="Previous Slide">
                <span class="blog-slider-control-icon"></span>
            </button>
            <button class="blog-slider-control-next" aria-label="Next Slide">
                <span class="blog-slider-control-icon"></span>
            </button>

        </div>
        <!-- END BLOG SLIDER -->

    </div>
    <!-- END Третья колонка Блог Слайдер -->
{% endblock %}