{% load static %}


{% block content %}
    <!-- Best Products Start -->
    <div class="best-seller-product pb-30">
        <div class="container">
            <div class="group-title">
                <h2>Most often searched for</h2>
                <p>
                    <a href="{% url 'category' 'man' %}">for Man</a> |
                    <a href="{% url 'category' 'woman' %}">for Woman</a> |
                    <a href="{% url 'category' 'children' %}">for Children's</a> |
                    <a href="{% url 'category' 'health' %}">for Health</a> |
                    <a href="{% url 'category' 'home' %}">for Home</a> |
                    <a href="{% url 'category' 'gifts' %}">Gifts</a> |
                    <a href="{% url 'category' 'souvenirs' %}">Souvenirs</a> |
                    <a href="{% url 'category' 'all' %}">View all</a>
                </p>
            </div>
                <!-- Best  Start -->
                <div class="brand-area pb-20">
                    <div class="container">
                        <!-- Best Banner Start -->
                        <div class="brand-banner brand-banner-with owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category" src="{% static 'site_app/img/brand/category_0016_ayurveda-min-300x300.png' %}"
                                                 alt="brand-image">Ayurveda</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category" src="{% static 'site_app/img/brand/Tote_Bag_Mockup_Hanging-removebg-preview.png' %}" alt="brand-image">Bags & Purses</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category"  src="{% static 'site_app/img/brand/category_0011_books-min-300x300.png' %}" alt="brand-image">Books and CDs</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category"  src="{% static 'site_app/img/brand/category_0010_Clothes-Shoes-min-300x300.png' %}" alt="brand-image">Clothes & Shoes</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category" src="{% static 'site_app/img/brand/category_0009_cooper-min-300x300.png' %}" alt="brand-image">Copper Products</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category" src="{% static 'site_app/img/brand/category_0008_Cosmetics-min-300x300.png' %}" alt="brand-image">Cosmetics</a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img-fixed-size-category" src="{% static 'site_app/img/brand/category_electro-min.png' %}" alt="brand-image">Electronics</a>
                            </div>
                            </div>
                        </div>
                        <!-- Best Banner End -->
                    </div>
                </div>
            </div>
        <!-- Container End -->
    </div>
    <!-- Best Product End -->


{% endblock %}