{% load static %}


{% block content %}
    <!-- Best Products Start -->
    <div class="best-seller-product pb-40">
        <div class="container">
            <div class="group-title">
                <h2>Most often searched for</h2>
                <p>
                    <a href="{% url 'category' 'man' %}">for Man</a> |
                    <a href="{% url 'category' 'woman' %}">for Woman</a> |
                    <a href="{% url 'category' 'children' %}">for Children's</a> |
                    <a href="{% url 'category' 'health' %}">for Health</a> |
                    <a href="{% url 'category' 'home' %}">for Home</a> |
                    <a href="{% url 'category' 'gifts' %}">Gifts</a> |
                    <a href="{% url 'category' 'souvenirs' %}">Souvenirs</a> |
                    <a href="{% url 'category' 'all' %}">View all</a>
                </p>
            </div>
                <!-- Brand Logo Start -->
                <div class="brand-area pb-60">
                    <div class="container">
                        <!-- Brand Banner Start -->
                        <div class="brand-banner owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img class="img" src="{% static 'site_app/img/brand/1.png' %}"
                                                 alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/2.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/3.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/4.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/5.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img class="img" src="{% static 'site_app/img/brand/1.png' %}"
                                                 alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/2.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/3.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/4.png' %}" alt="brand-image"></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'site_app/img/brand/5.png' %}" alt="brand-image"></a>
                            </div>
                        </div>
                        <!-- Brand Banner End -->
                    </div>
                </div>
            </div>
        <!-- Container End -->
    </div>
    <!-- Best Product End -->


{% endblock %}