{% extends 'main/nick/base.html' %}
{% load static %}
{% load utils %}

{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="active"><a href="product.html">Product</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->


        <!-- Product Area Start -->
        <div class="product-area pt-30">
            <div class="container">
                <div class="row" style="display: flex; flex-wrap: wrap;">
                    <!-- Используем flexbox для отображения в строку -->
                    {% for main_product in products_up_block %}
                        <!-- Single Product Start -->
                        <div class="col-lg-3 col-sm-6" style="flex: 1 0 21%; margin: 10px;">
                            <!-- Устанавливаем ширину и отступы -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img fixed-size-img-prod">
                                    <a href="{% url 'product_detail' main_product.slug main_product.name %}">
                                        {% if main_product.image %}
                                            <img class="primary-img" src="{{ main_product.image.url }}"
                                                 alt="{{ main_product.name }}">
                                            <img class="secondary-img" src="{{ main_product.image.url }}"
                                                 alt="{{ main_product.name }}">
                                        {% else %}
                                            <img class="primary-img" src="{% static 'img/default-image.jpg' %}"
                                                 alt="Default Image">
                                            <img class="secondary-img" src="{% static 'img/default-image.jpg' %}"
                                                 alt="Default Image">
                                        {% endif %}
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="product-rating">
                                        {% with stars=main_product.rating|rating_to_stars %}
                                            {% for star in stars %}
                                                <i class="{{ star }}"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                    <h4>
                                        <a href="{% url 'product_detail' main_product.slug main_product.name  %}">{{ main_product.name|truncatewords:50 }}</a>
                                    </h4>
                                    <p><span class="price">{{ main_product.price }}₹</span></p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href="{% url 'wishlist' %}" data-toggle="tooltip" title="Add to Wishlist"><i
                                                    class="fa fa-heart"></i></a>
                                            <a class="add-cart" href="{% url 'cart' %}" data-toggle="tooltip"
                                               title="Add to Cart">Add
                                                To Cart</a>
                                            <a href="shop/compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                    class="fa fa-signal"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                        </div>
                        <!-- Single Product End -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Product Area End -->

{% endblock %}