{% load static %}


<!-- Header Area Start -->
<header>
    <!-- Header Top Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Header Top left Start -->
                <div class="col-lg-10 col-md-6 ml-auto mr-auto">
                    <div class="middle-menu pull-left">
                        <nav>
                            <ul class="middle-menu-list">
                                <li><a href="work.html">🪬How we work<i class="fa fa-angle-down"></i></a>
                                    <ul class="ht-dropdown home-dropdown">
                                        <li><a href="{% url 'about' %}">🌴About us</a></li>
                                        <li><a href="delivery.html">🚚Delivery</a></li>
                                        <li><a href="payment.html">💳Payment</a></li>
                                        <li><a href="reviews.html">📣Reviews</a></li>
                                        <li><a href="faq.html">❓FAQ</a></li>
                                        <li><a href="help.html">👋Help</a></li>
                                    </ul>
                                </li>
                                <li><a href="app.html">📲Save more on APP</a></li>
                                <li><a href="https://t.me/goabay_refrigerator_bot">🤖Goa Bot</a></li>
                                <li><a href="track.html">🎈Track my order</a></li>
                                <li><a href="{% url 'news' %}">🪔Blog</a></li>
                                <li><a href="blog.html">💼Partners</a></li>
                                <li><a href="{% url 'contacts' %}">📪Contact us</a></li>
                                <li><a href="tel:+917057752559">☎️+917057752559</a></li>
                                <li><a href="mailto:info@goabay.com">✉️info@goabay.com</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-top-right">
                        <ul class="header-list-menu f-right">
                            <!-- Language Start -->
                            <li><a href="#">🌐 English <i class="fa fa-angle-down"></i></a>
                                <ul class="ht-dropdown">
                                    <li><a href="#">Spanish</a></li>
                                    <li><a href="#">Bengali</a></li>
                                    <li><a href="#">Russian</a></li>
                                    <li><a href="#">Deutch</a></li>
                                </ul>
                            </li>
                            <!-- Language End -->
                            <!-- Currency Start -->
                            <li><a href="#">💵 USD <i class="fa fa-angle-down"></i></a>
                                <ul class="ht-dropdown">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">RUB</a></li>
                                    <li><a href="#">EUR</a></li>
                                </ul>
                            </li>
                            </li>
                            <!-- Currency End -->
                        </ul>
                        <!-- Header-list-menu End -->
                    </div>
                </div>
                <!-- Search Box End -->
                <!-- Header Top Right Start -->
                <div class="col-lg-2 col-md-12">
                    <div class="header-top-right">
                        <ul class="header-list-menu f-right">
                            <li><a href="{% url 'login' %}">🔑Login</a></li>
                            <li><a href="{% url 'registrations' %}">🚪Register</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right End -->
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Top End -->
    <!-- Header Bottom Start -->
    <div class="header-bottom header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-sm-5 col-5">
                    <div class="logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'site_app/img/logo/logo-25.svg' %}" alt="Goabay, Goods from INDIA">
                        </a>
                    </div>
                </div>
                <!-- Primary Vertical-Menu End -->
                <!-- Search Box Start -->
                <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                    <div class="search-box-view">
                        <form action="#">
                            <input type="text" class="email" placeholder="👳🏽‍♂️Waht will we look for, Bro?"
                                   name="product">
                            <button type="submit" class="submit"></button>
                        </form>
                    </div>
                </div>
                <!-- Search Box End -->
                <!-- Cartt Box Start -->
                <div class="col-lg-2 col-sm-7 col-7">
                    <div class="cart-box text-right">
                        <ul>
                            <li><a href="{% url 'compare' %}">🪙</a>
                                <ul class="ht-dropdown">
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'registrations' %}">Register</a></li>
                                    <li><a href="{% url 'account' %}">Account</a></li>
                                </ul>
                            </li>
                            <li><a href="#">🔔</a></li>
                            <li><a href="#">🙂</a></li>
                            <li><a href="{% url 'wishlist' %}">❤️</a></li>
                            <li><a href="{% url 'cart' %}">🛒<span class="cart-counter">2</span></a>
                                <ul class="ht-dropdown main-cart-box">
                                    <li>
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href="#"><img src="{% static 'site_app/img/menu/1.jpg' %}" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="{% url 'product' %}">Products Name</a></h6>
                                                <span>1 × $399.00</span>
                                            </div>
                                            <a class="del-icone" href="#"><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href="#"><img src="{% static 'site_app/img/menu/2.jpg' %}" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="{% url 'product' %}">Products Name</a></h6>
                                                <span>2 × $299.00</span>
                                            </div>
                                            <a class="del-icone" href="#"><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Footer Inner Start -->
                                        <div class="cart-footer fix">
                                            <h5>total :<span class="f-right">$698.00</span></h5>
                                            <div class="cart-actions">
                                                <a class="checkout" href="{% url 'checkout' %}">Checkout</a>
                                            </div>
                                        </div>
                                        <!-- Cart Footer Inner End -->
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Cartt Box End -->
                <div class="col-sm-12 d-lg-none">
                    <div class="mobile-menu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'home' %}">home</a>
                                    <!-- Home Version Dropdown Start -->
                                    <ul>
                                        <li><a href="index.html">Home Version One</a></li>
                                        <li><a href="index-2.html">Home Version Two</a></li>
                                        <li><a href="index-3.html">Home Box Layout</a></li>
                                    </ul>
                                    <!-- Home Version Dropdown End -->
                                </li>
                                <li><a href="{% url 'shop' %}">shop</a>
                                    <!-- Mobile Menu Dropdown Start -->
                                    <ul>
                                        <li><a href="{% url 'shop' %}">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Product Category Name</a>
                                                    <!-- Start Three Step -->
                                                    <ul>
                                                        <li><a href="shop.html">Product Category Name</a></li>
                                                        <li><a href="shop.html">Product Category Name</a></li>
                                                        <li><a href="shop.html">Product Category Name</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="shop.html">Product Category Name</a></li>
                                                <li><a href="shop.html">Product Category Name</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'product' %}">product details Page</a></li>
                                        <li><a href="{% url 'compare' %}">Compare Page</a></li>
                                        <li><a href="{% url 'cart' %}">Cart Page</a></li>
                                        <li><a href="{% url 'checkout' %}">Checkout Page</a></li>
                                        <li><a href="{% url 'wishlist' %}">Wishlist Page</a></li>
                                    </ul>
                                    <!-- Mobile Menu Dropdown End -->
                                </li>
                                <li><a href="{% url 'news' %}">Blog</a>
                                    <!-- Mobile Menu Dropdown Start -->
                                    <ul>
                                        <li><a href="blog-details.html">Blog Details Page</a></li>
                                    </ul>
                                    <!-- Mobile Menu Dropdown End -->
                                </li>
                                <li><a href="#">pages</a>
                                    <!-- Mobile Menu Dropdown Start -->
                                    <ul>
                                        <li><a href="{% url 'login' %}">login Page</a></li>
                                        <li><a href="{% url 'registrations' %}">Register Page</a></li>
                                        <li><a href="{% url 'four-zero-four' %}">404 Page</a></li>
                                    </ul>
                                    <!-- Mobile Menu Dropdown End -->
                                </li>
                                <li><a href="{% url 'about' %}">about us</a></li>
                                <li><a href="{% url 'contacts' %}">contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu  End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Bottom End -->
    <!-- Header Top Start -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Header Top left Start -->
                <div class="col-lg-2 col-md-12 d-center">
                    <div class="dropbar">GOODS FROM INDIA</div>
                </div>
                <!-- Header Top left End -->
                <!-- Search Box Start -->
                <div class="col-lg-7 col-md-6">
                    <div class="middle-menu pull-left">
                        <nav>
                            <ul class="middle-menu-list-store">
                                <li><a href="{% url 'shop' %}">STORE</a></li>
                                <li><a href="#">BRANDS</a></li>
                                <li><a href="#">MAIL FORWARDING</a></li>
                                <li><a href="#">BEST SELLERS</a></li>
                                <li><a href="#">RECOMMEND</a></li>
                                <li><a href="#">GIFTS</a></li>
                                <li><a href="#">SALES</a></li>
                                <li><a href="#">PROMO</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Search Box End -->

            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Top End -->

</header>
<!-- Header Area End -->
