{% load static %}


{% block content %}
<div class="col-12 col-sm-12 col-md-3 col-lg-2 d-none d-lg-none d-xl-block">

            <div class="vertical-menu">
                <h5 class="box-title fw-bold text-uppercase">GOODS FROM INDIA</h5>
                <ul class="list-group">
                    <li><a class="list-item" href="#">📂 Product Catalog</a></li>
                    <li><a class="list-item" href="#">🐘 Buy the Elephant</a></li>
                    <li><a class="list-item" href="#">🛺 How we work</a></li>
                    <li><a class="list-item" href="#">💎 Brands</a></li>
                    <li><a class="list-item" href="#">🚢 Wholesale</a></li>
                    <li><a class="list-item" href="#">🪬 Hand Made</a></li>
                    <li><a class="list-item" href="#">🔖 Sales</a></li>
                    <li><a class="list-item" href="#">🔥 Best Sellers</a></li>
                    <li><a class="list-item" href="#">👍🏻 Recommended</a></li>
                    <li><a class="list-item" href="#">🎁 Gifts</a></li>
                    <li><a class="list-item" href="#">📣 Promo</a></li>
                    <li><a class="list-item" href="#">📜 All Products</a></li>
                </ul>
            </div>
        </div>
{% endblock %}