/* 💻 Админка */

.table {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 0.75rem;
}

.product-img {
  transition: transform 0.3s ease;
}

.product-img:hover {
  transform: scale(1.05);
}

a.text-decoration-none:hover,
a.text-dark:hover,
a.text-primary:hover,
a.text-info:hover,
a.text-danger:hover,
a.text-warning:hover,
a.text-secondary:hover {
  opacity: 0.7;
  text-decoration: none;
}

/* 🌙 Тёмная тема */
[data-theme="dark"] .table {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

[data-theme="dark"] .table th,
[data-theme="dark"] .table td {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border-color: #3a3a3a;
}

[data-theme="dark"] .table-striped tbody tr:nth-of-type(odd) {
  background-color: #242424;
}

[data-theme="dark"] .table-hover tbody tr:hover {
  background-color: #333;
}

[data-theme="dark"] a.text-dark {
  color: #ccc !important;
}

[data-theme="dark"] a.text-dark:hover {
  color: #fff !important;
  opacity: 0.8;
}
















/* 🌙 Тёмная тема для toolbar-filter */
[data-theme="dark"] .toolbar-filter {
  background-color: #1e1e1e;
}

/* Селекты */
[data-theme="dark"] .toolbar-filter select.form-select {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border-color: #444;
}

/* Кнопки */
[data-theme="dark"] .toolbar-filter .btn-outline-primary {
  color: #f0f0f0;
  border-color: #555;
  background-color: transparent;
}

[data-theme="dark"] .toolbar-filter .btn-outline-primary:hover {
  background-color: #333;
  border-color: #777;
  color: #fff;
}

/* Инпут поиска */
[data-theme="dark"] .toolbar-filter .search-input {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border-color: #444 !important;
}

/* Плейсхолдеры */
[data-theme="dark"] .toolbar-filter .search-input::placeholder {
  color: #aaa;
}

/* Текст опций */
[data-theme="dark"] .toolbar-filter option {
  background-color: #1e1e1e;
  color: #f0f0f0;
}




/*Click to copy ID*/
.copy-product-id {
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  user-select: none;
}

/* При наведении */
.copy-product-id:hover {
  background-color: #e0e0e0;
  color: #000;
}

/* Состояние после копирования */
.copy-product-id.copied {
  background-color: #d1e7dd;
  color: #0f5132;
}

/* 🌙 Тёмная тема */
[data-theme="dark"] .copy-product-id .text-muted{
  color: #fff;
}

[data-theme="dark"] .copy-product-id:hover {
  background-color: #444;
  color: #fff;
}

[data-theme="dark"] .copy-product-id.copied {
  background-color: #14532d;
  color: #bbf7d0;
}
