{% extends 'main/nick/base.html' %}
{% load static %}


<!-- Отступ под фиксированную шапку -->
<div class="header-offset"></div>

<!-- 1 box 3 колонки -->
<div class="container-fluid px-3">
    <div class="row">
            
        <!-- Первая колонка с вертикальным меню -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2 d-none d-lg-block">
            <div class="test-box mb-3" style="height: 550px;">
                <h2>Первая колонка</h2>
                <p>( lg ≥992px исчезает)</p>
                <ul>
                    <li>Заголовок</li>
                    <li>Вертикальное меню</li>
                    <li>Баннеры</li>
                </ul>
            </div>
        </div>

        <!-- Вторая колонка со слайдером -->
                    
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 col-xxl-6">
            <div class="test-box mb-3" style="height: 575px;">
                <h2>Главный Слайдер</h2>
            </div>
        </div>

        <!-- Третья колонка Блог Слайдер -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="test-box mb-3" style="height: 575px;">
                <h2>Главный Блог Слайдер</h2>
            </div>
        </div>

    </div>
</div>

<!-- 2 box 2 колонки -->
<div class="container-fluid p-3">
    <div class="row">

        <!-- Первая колонка с вертикальным меню -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 d-none d-lg-block">
            <div class="test-box" style="height: 550px;">
                <h2>Первая колонка</h2>
                <p>( lg ≥992px исчезает)</p>
                <ul>
                    <li>Заголовок</li>
                    <li>Вертикальное меню</li>
                    <li>Баннеры</li>
                </ul>
            </div>
        </div>

        <!-- Вторая колонка -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
                
            <div class="test-box mb-4" style="height: 60px;">
                <h2>Заголовок и горизонтальное меню</h2>
            </div>
                
            <div class="test-box mb-4" style="height: 300px;">
                <h3>Слайдеры</h3>
                <ul>
                    <li>Слайдер с категориями</li>
                    <li>Слайдер с брендами</li>
                    <li>Слайдеры с товарами</li>
                    <li>Слайдеры блогом</li>
                    <li>Блог слайдер</li>
                </ul>
            </div>
                
            <!-- Контейнер с двумя вертикальными слайдерами -->
            <div class="container-fluid p-1">
                <div class="row">

                    <!-- Левая колонка - Вертикальный слайдер -->
                    <div class="col-12 col-md-6 p-2 h-100">
                            
                        <div class="test-box mb-4" style="height: 300px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>

                    <!-- Правая колонка - Вертикальный слайдер -->
                    <div class="col-12 col-md-6 p-2 h-100">
                        
                        <div class="test-box mb-4" style="height: 300px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Четыре вертикальных слайдера -->
            <div class="container-fluid p-1">
                <div class="row">
                    
                    <!-- 1 ряд -->
                    <div class="col-12 col-md-3 p-2 h-100">

                        <div class="test-box mb-4" style="height: 420px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>
                        
                    <!-- 2 ряд -->
                    <div class="col-12 col-md-3 p-2 h-100">

                        <div class="test-box mb-4" style="height: 420px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>
                        
                    <!-- 3 ряд -->
                    <div class="col-12 col-md-3 p-2 h-100">

                        <div class="test-box mb-4" style="height: 420px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>
                        
                    <!-- 4 ряд -->
                    <div class="col-12 col-md-3 p-2 h-100">

                        <div class="test-box mb-4" style="height: 420px;">
                            <h3>Вертикальный слайдер</h3>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- END 2 box 2 колонки -->


<!--FOOTER В РА3АБОТКЕ-->
<footer class="footer text-dark py-4">
    <div class="container">
        <div class="row">
            
            <!-- 1-я колонка: Логотип и текст -->
            <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
                <h5>Логотип и текст</h5>
            </div>

            <!-- 2-я колонка: Меню -->
            <div class="col-12 col-md-4 text-center">
                <h5>Меню</h5>
            </div>

            <!-- 3-я колонка: Контакты -->
            <div class="col-12 col-md-4 text-center text-md-end">
                <h5>Контакты</h5>
            </div>

        </div>

        <!-- Копирайт -->
        <div class="text-center mt-3 small">
            &copy; 2025 Все права защищены.
        </div>
    </div>
</footer>





</body>
</html>
