{% load static %}


<!-- FOOTER -->
<footer class="footer py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-column align-items-center align-items-lg-start">
                {% if info_footer.svg_icon %}
                    <img src="{{ info_footer.svg_icon.url }}" alt="Logo SVG" height="40">
                {% elif info_footer.logo %}
                    <img src="{{ info_footer.logo.url }}" alt="Logo" height="40">
                {% else %}
                    <img src="{% static 'site_app/img/icon/logo.svg' %}" alt="Default Logo" height="40">
                {% endif %}
                <span>{{ info_footer.copyright }}</span>
            </div>

            <div class="col-12 col-lg-4">
                <nav class="footer-nav d-flex flex-wrap justify-content-center gap-3 small">
                    {% for item in info_footer.nav_items.all %}
                        <a href="{{ item.url }}" class="text-decoration-none">{{ item.title }}</a>
                    {% endfor %}
                </nav>

                <ul class="list-unstyled d-flex flex-wrap justify-content-center fw-bold gap-3 small mt-3">
                    <li><a href="tel:{{ info_footer.phone }}">☎️ {{ info_footer.phone }}</a></li>
                    <li><a href="mailto:{{ info_footer.email }}">✉️ {{ info_footer.email }}</a></li>
                </ul>
            </div>

            <div class="col-12 col-lg-4">
                <!-- Социальные иконки здесь -->
            </div>
        </div>
    </div>
</footer>


<button id="backToTop" class="btn btn-light position-fixed bottom-0 end-0 m-3 d-none" style="z-index: 1500;">👆🏾</button>
