{% load static %}


<!-- FOOTER -->
<footer class="footer py-4">

    <div class="container-fluid">
        <div class="row">
          
          <div class="col-12 col-lg-4 d-flex flex-column align-items-center align-items-lg-start">
                <img src="{% static 'site_app/img/logo/logo.svg' %}" alt="Goabay Logo" height="40">
                <span>2025 &copy; Goabay Trading Pvt Ltd</span>
          </div>

          <div class="col-12 col-lg-4">

                <nav class="footer-nav d-flex flex-wrap justify-content-center gap-3 small">
                  <a href="{% url 'account' %}" class="text-decoration-none">👤 My account</a>
                  <a href="shop.html" class="text-decoration-none">📂 Products</a>
                  <a href="info.html" class="text-decoration-none">📑 Info</a>
                  <a href="blog.html" class="text-decoration-none">📰 Blog</a>
                  <a href="partner.html" class="text-decoration-none">💼 Partners</a>
                  <a href="{% url 'contacts' %}" class="text-decoration-none">📪 Contact us</a>
                </nav>

                <ul class="list-unstyled d-flex flex-wrap justify-content-center fw-bold gap-3 small mt-3">
                    <li><a href="tel:+917057752559">☎️ +91 705 775-25-59</a></li>
                    <li><a href="mailto:info@goabay.com">✉️ info@goabay.com</a></li>
                </ul>
              
          </div>

          <div class="col-12 col-lg-4">

                <!-- социконки -->
                <div class="social-links d-flex gap-2">
                    {% for social in social_networks %}
                  <a href="{{ social.url }}" target="_blank" rel="noopener" class="fs-5 social-icon" aria-label="Facebook">
                    <i><img src="{{ social.icon.url }}" alt="{{ social.name }}" width="24" height="24"></i>
                  </a>
                  <a href="https://x.com/goabayofficial" target="_blank" class="fs-5 social-icon" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://www.youtube.com/@Goabayin" target="_blank" class="fs-5 social-icon" aria-label="YouTube">
                    <i class="fab fa-youtube"></i>
                  </a>
                  <a href="https://vk.com/goabay" target="_blank" class="fs-5 social-icon" aria-label="VK">
                    <i class="fab fa-vk"></i>
                  </a>
                  <a href="https://www.instagram.com/goabaycom/" target="_blank" class="fs-5 social-icon" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://ok.ru/goabay" target="_blank" class="fs-5 social-icon" aria-label="Odnoklassniki">
                    <i class="fab fa-odnoklassniki"></i>
                  </a>
                  <a href="https://t.me/goodsfromgoa" target="_blank" class="fs-5 social-icon" aria-label="Telegram">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                    {% endfor %}
                </div>
          </div>

        </div>
    </div>
</footer>

<button id="backToTop" class="btn btn-light position-fixed bottom-0 end-0 m-3 d-none" style="z-index: 1500;">👆🏾</button>
