{% extends 'main/nick/base.html' %}
{% load static %}


<!-- Отступ под фиксированную шапку -->
<div class="header-offset-2"></div>

<h1>MAIN BOX: Vertical Menu, Main Slider, Blog Slider</h1>


<!-- 1 box 3 колонки -->
<div class="container-fluid px-3">
    <div class="row">
            
        <!-- Первая колонка с вертикальным меню -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2 d-none d-lg-block">
            
            <!-- VERTICAL MENU -->
            <div class="vertical-menu">
                <h5 class="v-menu-title fw-bold text-uppercase">GOODS FROM INDIA</h5>
                <ul class="list-group">
                    <li><a class="list-item" href="#">📂 Product Catalog</a></li>
                    <li><a class="list-item" href="#">🐘 Buy the Elephant</a></li>
                    <li><a class="list-item" href="#">🛺 How we work</a></li>
                    <li><a class="list-item" href="#">💎 Brands</a></li>
                    <li><a class="list-item" href="#">🚢 Wholesale</a></li>
                    <li><a class="list-item" href="#">🪬 Hand Made</a></li>
                    <li><a class="list-item" href="#">🔖 Sales</a></li>
                    <li><a class="list-item" href="#">🔥 Best Sellers</a></li>
                    <li><a class="list-item" href="#">👍🏻 Recommended</a></li>
                    <li><a class="list-item" href="#">🎁 Gifts</a></li>
                    <li><a class="list-item" href="#">📣 Promo</a></li>
                    <li><a class="list-item" href="#">📜 All Products</a></li>
                </ul>
            </div>
            <!-- END VERTICAL MENU -->

        </div>

        <!-- Вторая колонка со слайдером -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 col-xxl-6">
            
            <!-- MAIN SLIDER -->
            <div class="slider-box mb-3">
                <div class="slider-container">
                    <div class="slider-wrapper">
                        <div class="slider-item">
                            <img src="{% static 'site_app/img/slider/1-2.jpg' %}" class="slider-img" alt="Слайд 1">
                            <div class="slider-caption">
                                <h5>Tulsi Original Tea</h5>
                                <p>Excellent Indian green tea decaffeinated Tulsi with light and expressive range of a set of spices- true gourmet.</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'site_app/img/slider/2-2.jpg' %}" class="slider-img" alt="Слайд 2">
                            <div class="slider-caption">
                                <h5>Authorized distributor of HIMALAYA</h5>
                                <p>Himalaya India's products are so recognizable and popular that they are sometimes identified directly with Ayurveda.</p>
                                <a href="#" class="btn btn-primary">Buy now!</a>
                            </div>
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'site_app/img/slider/3-3.jpg' %}" class="slider-img" alt="Слайд 3">
                            <div class="slider-caption">
                                <h5>Incense from Ram Krishna</h5>
                                <p>You can see for yourself how wide is the range of incense from Rama Krishna in our catalog. And we are sure you will find something to your liking.</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="slider-control-prev" aria-label="Previous Slide">
                    <span class="slider-control-icon"></span>
                </button>
                <button class="slider-control-next" aria-label="Next Slide">
                    <span class="slider-control-icon"></span>
                </button>
            </div>
            <!-- END MAIN SLIDER -->

        </div>

        <!-- Третья колонка Блог Слайдер -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

            <!-- BLOG SLIDER -->
            <div class="blog-slider">
                <div class="blog-slider-container">
                    <div class="blog-slider-wrapper">
                        <!-- Слайд 1 -->
                        <div class="blog-slider-item">
                            <div class="blog-grid ">
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/Panjim.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Panaji is the capital of Goa</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/Entertainment-in-Arambol.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Entertainment in Arambol. What to do and where to go?</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/indian-republic-day-celebration-digital-art.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>India’s Republic Day: history and traditions of celebration</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/flowers-garden.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Best-selling Indian cosmetics in 2024</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Слайд 2 -->
                        <div class="blog-slider-item">
                            <div class="blog-grid">
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/Panjim.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Portuguese India, Goa independence struggle</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/photo_2020-02-27_13-34-14-1170x650.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Arambol 2025: Market, Hippies and Goa’s Best Beaches</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/indian-travel.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Mining in India</h5>
                                    </div>
                                </div>
                                <div class="blog-card justify-content-end">
                                    <img src="{% static 'site_app/img/blog/young-man-holding-plastic-bag-boutique_23-2148175641.jpg' %}" class="blog-img">
                                    <div class="blog-content">
                                        <h5>Entertainment in Arambol</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="blog-slider-control-prev" aria-label="Previous Slide">
                    <span class="blog-slider-control-icon"></span>
                </button>
                <button class="blog-slider-control-next" aria-label="Next Slide">
                    <span class="blog-slider-control-icon"></span>
                </button>

            </div>
            <!-- END BLOG SLIDER -->

        </div>

    </div>
</div>
<!-- END 1 box 3 колонки -->
