{% load static %}

{% block content %}
    <!-- SIDE MENU -->
    <div id="sideMenu" class="side-menu">
        <button class="close-btn">✖</button>
        <!-- User Box -->
        <div class="user-profile">
            <div class="user-info">
                <img src="{% static 'site_app/img/products/Frame 1.png' %}" alt="User Avatar" class="avatar">
                <span class="username">John Doe</span>
            </div>
            <div class="user-actions mb-2">
                <a href="account.html" class="account-link">ACCOUNT</a> /
                <a href="#" class="exit-link">EXIT</a>
            </div>

<label class="switch">
  <input type="checkbox" class="theme-toggle">
  <span class="slider round"></span>
</label>

        </div>
        <!-- menu List -->
        <ul class="menu-list">
            <li><a href="#">🏠 Home</a></li>
            <li class="has-submenu">
                <a href="#">👤 My account</a>
                <ul class="submenu">
                    <li><a href="wishlist.html">💖 Wishlist</a></li>
                    <li><a href="cart.html">🛒 My Cart</a></li>
                    <li><a href="adress.html">📍 My Adress</a></li>
                    <li><a href="orders.html">🧾 Orders</a></li>
                    <li><a href="track.html">🎈 Track my Order</a></li>
                    <li><a href="#">⚙️ Settings</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">📂 Products</a>
                <ul class="submenu">
                    <li><a href="shop.html">📜 All Products</a></li>
                    <li><a href="elephant.html">🐘 Buy the Elephant</a></li>
                    <li><a href="brands.html">💎 Brands</a></li>
                    <li><a href="wholesale.html">🚢 Wholesale</a></li>
                    <li><a href="hande-made.html">🪬 Hand Made</a></li>
                    <li><a href="sales.html">🔖 Sales</a></li>
                    <li><a href="best.html">🔥 Best Sellers</a></li>
                    <li><a href="gifts.html">🎁 Gifts</a></li>
                    <li><a href="promo.html">📣 Promo</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">📑 Info</a>
                <ul class="submenu">
                    <li><a href="work.html">🛺 How we work</a></li>
                    <li><a href="about-us.html">🌴 About us</a></li>
                    <li><a href="payment.html">💳 Payment</a></li>
                    <li><a href="delivery.html">🚚 Delivery</a></li>
                    <li><a href="offer.html">📋 Public offer</a></li>
                    <li><a href="faq.html">❓ FAQ</a></li>
                    <li><a href="reviews.html">📣 Reviews</a></li>
                </ul>
            </li>
            <li><a href="blog.html">📰 Blog</a></li>
            <li><a href="app.html">📲 Save more on APP</a></li>
            <li><a href="#">🤖 Goa Bot</a></li>
            <li><a href="partner.html">💼 Partners</a></li>
            <li><a href="contacts.html">📪 Contact us</a></li>
        </ul>
    </div>
    <!-- END SIDE MENU -->
{% endblock %}