{% load static %}


{% block content %}
    <!-- Первая колонка с вертикальным меню -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 col-xxl-2 d-none d-lg-block">

            <!-- VERTICAL MENU -->
            <div class="vertical-menu">
                <h5 class="v-menu-title fw-bold text-uppercase">{{ menu_name }}</h5>
                <ul class="list-group">
                    {% for item in menu_items %}
                        <li><a class="list-item" href="{{ item.link }}">{{ item.icon }} {{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- END VERTICAL MENU -->

        </div>

{% endblock %}