{% load static %}

<!-- WISHLIST SIDE MENU -->
<div id="wishlistMenu" class="cart-menu cart-menu__wishlist d-flex flex-column">
    <div class="d-flex align-items-center justify-content-between p-2">
        <h4>💖 Your wishlist</h4>
        <button class="close-side-btn">✖</button>
    </div>

    <div class="cart-menu__items flex-grow-1 overflow-auto px-2">

    </div>

    <div class="cart-menu__footer p-3">
        <p>Items in wishlist: <span id="wishlistItemCount">5</span></p>
        <button class="btn btn-primary w-100 mb-2">Move all to cart</button>
        <button class="btn btn-outline-primary w-100">Go to wishlist</button>
    </div>
</div>
