{% load static %}


{% block content %}
<!-- Боковое меню -->
<div id="sideMenu" class="side-menu">
    <button class="close-btn">✖</button>
    <ul class="menu-list">
        <li><a href="#">🏠 Home</a></li>
        <li class="has-submenu">
            <a href="#">👤 My account</a>
            <ul class="submenu">
                <li><a href="#">💖 Wishlist</a></li>
                <li><a href="#">🛒 My Cart</a></li>
                <li><a href="#">📍 My Adress</a></li>
                <li><a href="#">🧾 Orders</a></li>
                <li><a href="#">🎈 Track my Order</a></li>
                <li><a href="#">⚙️ Settings</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">📂 Products</a>
            <ul class="submenu">
                <li><a href="#">📜 All Products</a></li>
                <li><a href="#">🐘 Buy the Elephant</a></li>
                <li><a href="#">💎 Brands</a></li>
                <li><a href="#">🚢 Wholesale</a></li>
                <li><a href="#">🪬 Hand Made</a></li>
                <li><a href="#">🔖 Sales</a></li>
                <li><a href="#">🔥 Best Sellers</a></li>
                <li><a href="#">🎁 Gifts</a></li>
                <li><a href="#">📣 Promo</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">📑 Info</a>
            <ul class="submenu">
                <li><a href="#">🛺 How we work</a></li>
                <li><a href="#">🌴 About us</a></li>
                <li><a href="#">💳 Payment</a></li>
                <li><a href="#">🚚 Delivery</a></li>
                <li><a href="#">📋 Public offer</a></li>
                <li><a href="#">❓ FAQ</a></li>
                <li><a href="#">📣 Reviews</a></li>
            </ul>
        </li>
        <li><a href="#">📰 Blog</a></li>
        <li><a href="#">📲 Save more on APP</a></li>
        <li><a href="#">🤖 Goa Bot</a></li>
        <li><a href="#">💼 Partners</a></li>
        <li><a href="#">📪 Contact us</a></li>
    </ul>
</div>
{% endblock %}
